* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
}

.navbar {
	height: 7em;
	background-image: url(./img/74705061_155393805859612_3224043241129115648_o.jpg);
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
}
 .nav-link {
	font-family: 'Fira Sans', sans-serif;
 }
.navbar a {
	color: white;
}

.dropdown-menu {
	background-color: #233663;
}

.search-panel {
	margin-left: 5em;
	height: 5em;
	width: 100%;
	display: flex;
	float: left;
}

.form-login {
	height: 100%;
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
}

.form-login button {
	margin-top: 5px;
}

.srch {
	height: 2.5em;
	border: 1px solid black;
	width: 20em;
	padding: 5px;
	margin-right: 1em;
}

#movie-serchable {
	background-color: #E5E4E2;
}


main {
	width: 100%;
	height: auto;
	background-color: #E5E4E2;
	margin-top: -15px;
}

.top-bar {
	display: flex;
	width: 100%;
	height: 5em;
	margin: 1em 0 1em 0;
}

.top-bar div {
	width: 50%
}

.bar-right {

	background-image: url(./img/1565109.jpg);
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-align: center;
	padding-top: 1.5%;
	font-family: 'Fira Sans', sans-serif;
	transition: 250ms all;
}

.bar-right:hover {
	transform: scale(0.98);
	cursor: pointer;
}


.bar-left {
	height: 100%;
	width: 50%;
	background-image: url(./img/ef14216ccf38dfddb9d14ec31b93db45390bd45f.jpg);
	background-color: black;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 20px;
	color: gold;
	margin-right: 20px;
	font-family: 'Fira Sans', sans-serif;
	transition: 250ms all;
	}

	.bar-left:hover {
		transform: scale(0.98);
		cursor: pointer;
	}


.media {
	width: 1000px;
	margin-bottom: 30px;
	margin: 0 auto;
	text-align: center;
}

.tv {
	float: left;
	width: 500px;
	height: auto;
	overflow: hidden;
	display: inline-block;
}

.tv h2 {
	font-family: 'Pacifico', cursive;;
}


.movieIn {
	float: left;
	width: 500px;
	height: auto;
	overflow: hidden;
	display: inline-block;
}

.movieIn h2 {
	font-family: 'Pacifico', cursive;
}
.wrap {
	padding-top: 10px;
}

.first {
	width: 500px;
	height: 281px;
	float: left;
	transition: 250ms all;
	position: relative;
}

.first:hover {
	transform: scale(0.98);
	cursor: pointer;
}
.first h2 {
	position: absolute;
	bottom: 0%;
	left: 10%;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: large;
}
.second {
	width: 250px;
	height: 141px;
	float: left;
	transition: 250ms all;
	position: relative;
}

.second:hover {
	transform: scale(0.98);
	cursor: pointer;
}

.second h2 {
	position: absolute;
	bottom: 0%;
	left: 10%;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: small;
}

.thrid {
	width: 250px;
	height: 141px;
	float: left;
	transition: 250ms all;
	position: relative;
}

.thrid:hover {
	transform: scale(0.98);
	cursor: pointer;
}
.thrid h2 {
	position: absolute;
	bottom: 0%;
	left: 10%;
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: small;
}

.popular-carousel {
	margin: 0 auto;
	width: 1031px;
	height: auto;
	text-align: center;
}

.popular-carousel h2 {
font-family: 'Pacifico', cursive;
}
.carousel {
	margin: 1em;
}
footer {
	width: 100%;
	height: 12em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-image: url(./img/74705061_155393805859612_3224043241129115648_o.jpg);
	color: white;
}

footer div {
	margin-top: 2%;
}

footer div ul li {
	list-style-type: none;
}
footer div ul li a{
	text-decoration: none;
	color: white;
}
footer div ul li a:hover {
	text-decoration: none;
	color: white;
}

/*-----------------------styles for login page-------------*/

.login-form {
	margin: 5em;
}

/*-----------------------styles for login page-------------*/
/*---------------------styles for registr page-------------*/
.reg-form {
	margin: 2em;
}
/*--------------------------------------------------*/

.section {
	display: flex;
	width: 100%;
	height: auto;
	flex-flow: row wrap;
	justify-content: center;
	background-color: black;
}

.wrapper {
	width: 130px;
	transition: 250ms all;
	overflow: hidden;
	text-align: center;
	color: white;
}

.wrapper:hover {
	transform: scale(0.98);
	cursor: pointer;
}

.wrapper img {
	width: 120px;
}




